.login-signup,
.signup-form {
    display: flex;
    flex-direction: column;
    width: 566px;
    min-height: 523px;
    justify-self: center;
    color: $clr2;

    margin: 40px 0 88px;
    padding: 0 24px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;

    .auth-header {
        padding: 4.5px 24px;
        min-height: 44px;
        // display: flex;
        text-align: center;
        font-weight: bold;
    }

    .divider {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #ddd;
    }

    .form-container {
        padding: rem(32px);
    }


    label {
        cursor: pointer;

    }

    .astrix {
        color: rgb(245, 108, 108)
    }


    input {
        width: 100%;
        height: rem(32px);
        font-size: rem(14px);
        display: inline-flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        padding: 1px 11px;
        border-radius: rem(4px);
        border: 1px solid $gray2;

        &:focus-visible {
            outline: $gray4;
            outline-style: auto;

        }
    }

 

    .or {
        align-self: center;
        font-size: 0.8rem;
        text-decoration: underline;
    }

    button {
        min-height: 50px;
        border-radius: 8px;
        margin-bottom: 15px;
    }

    .btn-login {
        background-color: $gray1;
        border: 1px solid $gray3;
        color: $gray4;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        }
    }
}


//     .login-details-container {
//         display: flex;
//         padding-bottom: 18px;

//         .login-img {
//             width: 25%;

//             img {
//                 // object-fit: cover;
//                 border-radius: 12px;
//                 // width: 50%;
//                 height: 10vh;
//             }
//         }


//         .login-details {

//             // .login-details-text{
//             //     line-height: 1;
//             // }

//             .login-details-name {
//                 font-weight: 500;
//             }
//         }


//         .login-details {
//             // background-color: aqua;
//             align-items: center;
//             margin-right: 0;
//             // margin-bottom: 10px;
//             // line-height: 1;
//             // justify-items: start;

//             .login-details-reviews {
//                 span img {
//                     width: 12px;
//                 }

//                 span {
//                     font-size: 14px;
//                     padding: 2px;

//                 }

//                 .reviews-score {
//                     font-weight: 500;

//                 }

//                 .reviews-number {}

//             }

//             // .reserve-details-container{
//             //     background-color: antiquewhite;
//             //     h2{
//             //         color: blue;
//             //     }

//             // }
//         }
//     }


//     .pricing-calculate {
//         margin-top: -2px;
//         font-size: 16px;

//         div {
//             display: flex;
//             justify-content: space-between;
//             padding: 5px;

//             .nightly-rate-calc {
//                 text-decoration: underline;

//             }

//             .nightly-service-fee {
//                 text-decoration: underline;
//                 margin-bottom: 10px;
//             }
//         }

//         .total {
//             margin-top: 14px;
//             font-weight: 500;
//         }
//     }
// }