.login-signup,
.signup-form {
    display: flex;
    flex-direction: column;
    width: 566px;
    min-height: 523px;
    justify-self: center;
    color: $clr2;

    margin: 40px 0 88px;
    padding: 0 24px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;

    @include for-mobile-layout{
		width: 100%;
        min-height: 450px;
        margin-bottom: 60px;
        margin-top: 5px;
        padding: 0 ;
	}

    .auth-header {
        padding: 4.5px 24px;
        min-height: 44px;
        // display: flex;
        text-align: center;
        font-weight: bold;

        @include for-mobile-layout{
           font-size: 1rem;
           padding: 0;
        }
    }

    .divider {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #ddd;
    }

    .form-container {
        padding: rem(32px);
    }


    label {
        cursor: pointer;
        @include for-mobile-layout{
           font-size: .8rem;
        }
    }

    .astrix {
        color: rgb(245, 108, 108)
    }


    input {
        width: 100%;
        height: rem(32px);
        font-size: rem(14px);
        display: inline-flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        padding: 1px 11px;
        border-radius: rem(4px);
        border: 1px solid $gray2;

        @include for-mobile-layout{
            max-height: rem(25px);
            margin:  0 ;
            padding: 0 ;
        }

        &:focus-visible {
            outline: $gray4;
            outline-style: auto;

        }
    }

 

    .or {
        align-self: center;
        font-size: 0.8rem;
        text-decoration: underline;
    }

    button {
        min-height: 50px;
        border-radius: 8px;
        margin-bottom: 15px;

        @include for-mobile-layout{
            height: rem(15px);
            margin:  20px ;
            padding: 0 ;
        }
    }

    .btn-login {
        background-color: $gray1;
        border: 1px solid $gray3;
        color: $gray4;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        }
    }
}


