.stay-booking {
  display: flex;
  width: 1120px;
  margin: 0 auto;
  min-height: 200vh;
  font-family: airbnb, sans-serif;
  @include for-mobile-layout {
    width: unset;
  }

  hr {
    border: none;
    border-top: 1px solid #ddd;
  }

  .booking-confirm-details {
    width: 560px;

    @include for-mobile-layout {
      width: 100vw;
    }
    // .booking-user-details-not-connected{
    //     img{
    //         width: 16px;
    //         display: inline-block;
    //         margin-right: 8px;
    //     }
    // }

    // .booking-verification{
    //     img{
    //         width: 26px;
    //         margin-right: 8px;
    //     }
    // }

    .booking-header {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 53px 0 33px;
      font-size: 16px;

      .back-to-details-btn {
        position: absolute;

        display: flex !important;
        background: none !important;
        border: none !important;
        color: #222222;
        padding: 0;
        margin: 0;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        text-decoration: underline;
        font-weight: 500;
        margin-bottom: 50px;
        bottom: 718px;
        left: 358px;

        @media screen and (max-width: 1600px) {
          left: 40px;
        }

        img {
          width: 16px;
          &:hover {
            background-color: #f7f7f7;
            outline: 16px solid #f7f7f7;
            border-radius: 50%;
          }
        }

        // position: absolute;
        // margin-inline-start: -30px;
        // // border: 50px;
        // color: #222222;
        // background: none;
        // border: none;
        // padding: 0;
        // cursor: pointer;
        // place-content: center;
        // img{
        //     place-self: center;
        // }

        &:hover {
          background-color: #f7f7f7;
          border-radius: 50%;
        }
      }
    }

    .recommendation-container {
      display: flex;
      gap: 24px;
      color: #222222;
      width: 560px;
      max-height: 98px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #ddd;
      margin-top: -9px;
      padding: 24px;
      border-radius: 12px;
      @include for-mobile-layout {
        width: unset;
      }

      .recommendation-description {
        margin-top: 7px;
        span {
          font-size: 16px;
          font-weight: 500;
        }
        p {
          font-size: 16px;
        }
      }

      .recommendation-tag {
        width: 40px;
        height: 40px;
        margin: 0 8px 8px 0;
      }
      img {
        width: 32px;
      }
    }
    .trip-details {
      margin-top: 18px;
      margin-bottom: 20px;
      h2 {
        font-size: 22px;
        font-weight: 500;
      }

      .booking-dates {
        line-height: 1;
        margin-bottom: 22px;
        margin-top: 18px;
      }

      .booking-guests {
        line-height: 1;
        margin-bottom: 30px;
      }
    }
    .confirm-container {
      .confirm-button {
        position: relative;
        color: white;
        width: 10%;
        padding: 14px;
        margin: 12px 0 0 0;
        border-radius: 10px;
        font-size: 18px;
        cursor: pointer;
        padding: 18px;
        font-weight: bold;
        min-width: 200px;

        &:active {
          transform: scale(0.97);
          background: #ff385c !important;
        }
      }

      @include for-mobile-layout {
        margin-bottom: 70px;
      }
    }

    .booking-payment-method {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 22px;
      margin-top: 16px;

      .booking-payment-header {
        display: flex;
        justify-content: space-between;

        .booking-payment-imgs {
          display: flex;
          align-items: center;
          margin-top: 6px;
          img {
            display: flex;
            margin-left: 4px;
            width: 34px;
          }
        }
        .booking-payment-imgs span:nth-child(2) img {
          width: 20px;
        }
        .booking-payment-imgs span:nth-child(4) img {
          width: 44px;
        }
      }
    }

    .cancellation-policy {
      margin-top: 28px;
      margin-bottom: -20px;
      .cancellation-policy-header {
        font-size: 22px;
        font-weight: 500;
      }

      .cancellation-policy-text {
        margin-top: 16px;
        font-size: 16px;

        span {
          font-weight: 700;
        }
        .learn-more-btn-container {
          margin-top: -1px;
          .learn-more-btn {
            display: flex !important;
            background: none !important;
            border: none !important;
            color: #222222;
            padding: 0;
            margin: 0;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            text-decoration: underline;
            font-weight: 500;
            margin-bottom: 50px;

            &:hover {
              color: black;
            }
          }
        }
      }
    }

    .booking-ground-rules {
      padding: 20px 0 14px;
      // margin-top: -12px;
      .ground-rules-header {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      .ground-rules-text {
        font-size: 16px;
        margin-bottom: 16px;
        line-height: 1.2;
      }

      .ground-rules-li-container li::before {
        content: "•";
        font-size: 14px;
        color: #222222;
        margin-right: 10px;
      }
    }

    .privacy-policy-text {
      font-size: 12px;
      margin-top: 40px;
      .first-policy {
        span {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .second-policy {
        span {
          color: #004cc4;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .booking-stay-details {
    width: 720px;
    @include for-mobile-layout {
      display: none;
    }
  }
}
