.stay-booking{
    .booking-user-details-not-connected{
        img{
            width: 16px;
            display: inline-block;
            margin-right: 8px;
        }
    }

    .booking-verification{
        img{
            width: 26px;
            margin-right: 8px;
        }
    }

    .booking-header {
        display: flex;
        align-items: center;
        gap: 8px;

        .back-to-details-btn{
            position: absolute;
            left: 40px;
            color: #222222;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;

            &:hover{
                background-color: #f7f7f7;
                border-radius: 50%;
                // need to compatible
            }
        }
    }
   
    .recommendation-container{
        display: flex;
            gap:24px;
            color: #222222;
            max-width: 560px;
            max-height: 98px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // justify-content: space-around;
            border: 1px solid #ddd;
            margin-top: -9px;
            padding: 24px;
            border-radius: 12px;
            line-height: 1;
            font-size: 12px;
            
            .diamond-tag{
                width: 40px;
                height: 40px;
                margin: 0 8px 8px 0;
            }
        img{
            width: 32px;
        }
    }
    
}




.booking-main-title {
    
}




