.stay-details{
    max-width: 1024px;
    margin: 0 auto;

    .action-btns{
        background-color: brown;
        display: flex;
        align-items: center;
        justify-items: space-between;
    }

    h1{
        font-size: rem(26px);
    }

    .action-btn {
        display: flex;
        background: none;
        background-color: aqua;
        border: none;
        color: #222222;
        padding: 0;
        margin: 0;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
    }

    img{
        display: inline-block;
        width: 16px;
    }

    .details-header{
        display: flex;
        justify-content: space-between;
    }
}

