.stay-booking{
    .booking-user-details-not-connected{
        img{
            width: 16px;
            display: inline-block;
            margin-right: 8px;
        }

        // .custom-img-button {
        //     background: none;
        //     border: none;
        //     padding: 0;
        //     display: inline-block;
        //     cursor: pointer;
        // }
        
    }
}
.back-to-details-btn{
    border: none;
    background-color: none;
}

