// .full {
//     grid-column: 1 / -1;
// }
.stay-details{
    max-width: 1120px;
    margin: 0 auto;
    
    .action-btns{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 16px;
        padding: 8px;
        margin: 0 -8px;

        
    }
    
    h1{
        font-size: rem(26px);
    }

    .action-btn {
        display: flex;
        background: none;
        border: none;
        color: #222222;
        padding: 8;
        margin: 0;
        cursor: pointer;
        font-size: rem(16px);
        font-weight: bold;
        text-decoration: underline;


        &:hover {
            background-color: $gray3;
        }
        
    
    }

    
    img{
        display: inline-block;
        width: 16px;
    }

    .details-header{
        display: flex;
        justify-content: space-between;
    }
    .stay-main-content{
        display: flex;
        // height: 113.99px;
        max-width: 1280px;
        align-items: flex-start;
        min-height: 200vh; //for checking the sticky

        .stay-info-content{
            display: flex;
            // width: 579px;
            flex-direction: column;
            width: 653px;
            // max-width: 1044px;
        }
    
        .stay-booking-content{
            width: 465px;
            position: sticky;
            top: 0px;
            // align-items: end;
            // min-height: 120px;
        }
    }
}

