
.app-footer {
    display: flex;
    flex-direction: column;
    padding: 10px 1rem;
    font-size: rem(14px);
    border-top: 1px solid #DDDDDD;
    
    // .footer-divider {
    //     width: 100%;
    //     border: none;
    //     border-top: 1px solid #DDDDDD;
    // }

    .support-dropdown-container{
        display: flex;
        place-items: center;
        justify-content: space-between;

        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
    
    img{
        background-color: #fff;
        width: 10px;
        margin-left: 5px;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .footer-left, .footer-right {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;

        a {
            color: inherit;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .footer-right {
        display: flex;
        align-items: center;
        gap: 12px;
        line-height: 18px;
    }

    .language-selector, .currency-selector, .support-dropdown {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
