
.app-footer {
    // position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 72px;
    font-size: rem(14px);
    border-top: 1px solid #DDDDDD;
    background-color: #fff;
    z-index: 10;
    

    
    &.fixed {
        position: fixed;
        left: 0;
        bottom: 0;
    }

    .support-dropdown-container{
        display: flex;

        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
    
    img{
        width: 16px;
        margin-left: 5px;
    }

    .language-container{
        display: flex;
        place-items: center;
        img{
            margin-right: 10px;
        }
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .footer-left, .footer-right {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size:rem(14px);

        a {
            color: inherit;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .footer-left{

        .privacy-container{
            display: flex;
            img {
                object-fit: contain;
                width: 32px;
                margin-left: 12px;
            }
        }
    }

    .footer-right {
        display: flex;
        gap: 28px;
        line-height: 18px;
        font-weight: 500;
    }

    .language-selector, .currency-selector, .support-dropdown {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
