.app-header {
    @include for-mobile-layout {
        position: sticky;
        top: 0px;
        width: 100%;
        background-color: white;
        z-index: 100;
    }

    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 100;
    min-height: 80px;
    border-bottom: 1px solid $gray3;

    .header-content {
        @include for-mobile-layout {
            grid-column: 1/-1;
            align-self: center;
            flex-direction: column;
            justify-content: center;
            height: fit-content;
            gap: 15px;
            z-index: 1000;
        }

        display: flex;
        width: 100%;
        justify-content: space-between;
        min-height: minmax(2rem, 5rem);




        .logo {
           
            position: sticky;
            top: 20px;
            left: 0;

            align-self: start;

            img {
                max-width: 102px;
            }
            @include for-mobile-layout {
                align-self: center;
                justify-self: flex-start;
                top: 13px;
            }

        }

        .big-search {
            h1 {
                @include for-mobile-layout {
                    display: none;
                }

                text-align: center;
                margin-top: 20px;
                font-size: rem(16px);
                font-family: airbnb,
                sans-serif;
                font-weight: normal
            }
        }

        .btns-panel {
            @include for-mobile-layout {
                padding: 0;
                margin: 0;
                position: fixed;
                bottom: 0px;
                left: 0;
                display: flex;
                width: 100%;
                min-height: 60px;
                background-color: $gray-3;
                justify-content: center;
            }

            display: flex;
            max-height: 70px;
            align-items: center;

            .menu {
                @include for-mobile-layout {
                    justify-self: center;
                    padding: 0;
                    margin: 0;
                    z-index: 100;
                    width: 100%;
                    height: 100%;
                    background-color: $gray-3;
                    border: none;
                    align-items: center;
                    justify-content: center;
                }

                @include for-normal-layout {
                    position: sticky;
                    margin: 0;
                    right: 0;
                    top: 5px;
                    width: 86px;
                    height: 3rem;
                    gap: 15px;
                    background-color: white;
                    border: 1px solid #DDDDDD;
                    padding: 0.6rem 0.6rem 0.6rem 1rem;
                    align-items: center;
                    justify-content: space-between;

                    border-radius: 2.9em;
                }

                .avatar {
                    @include for-mobile-layout {
                        min-width: 3rem
                    }

                    width: 1.5rem;
                }

                .burger {
                    @include for-mobile-layout {
                        display: none;
                    }

                    width: 1rem;
                }

                .avatar {
                    @include for-mobile-layout {
                        min-width: 3rem
                    }

                    width: 1.9rem;

                    img {
                        border-radius: 50%;
                        aspect-ratio: 1/1;
                    }
                }

                &:hover {
                    @include for-mobile-layout {
                        box-shadow: none;
                    }

                    box-shadow: rgba(0, 0, 0, 0.173) 0px 1.90695px 3.81391px 0px;
                }

            }


        }

        .small-container {
            @include for-mobile-layout {
                width: 100%;
                
            }

            position: sticky;
            top: 20px;
        }

        .user-menu {

        
            position: fixed;

           
            top: 80px;
            right: 40px;
            background-color: white;
            border-radius: 20px;
            width: 240px;
            max-height: 428px;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 16px;

            @include for-mobile-layout{
                top: unset;
                bottom: 60px;
                left: 0px;
                width:100%;

                a{
                    text-align: center;
                }
            }

            .link {
                width: 100%;


                &:first-child {
                    border-bottom: 1px solid $gray3;
                    margin-top: 8px;
                }

                &:last-child {
                    margin-bottom: 8px;
                }

                a {
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    font-size: 0.8em;
                    color: $gray5 !important;
                }

                .login {
                    color: $gray4 !important;
                }

                padding: 14px 22px 10px !important;

                &:hover {
                    background-color: $gray3;
                }
            }
        }
    }

}