.app-header {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 100;
    min-height: 80px;
    border-bottom: 1px solid $gray3;

    .header-content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        min-height: minmax(2rem, 5rem);



        .logo {
            position: sticky;
            top: 25px;
            left: 0;
           
            align-self: start;

            img {
                max-width: 102px;
            }
        }

        .big-search {
            h1 {
                text-align: center;
                margin-top: 20px;
                font-size: rem(16px);
                font-family: airbnb, sans-serif;
                font-weight: normal
            }
        }

        .btns-panel {
            display: flex;
            max-height: 70px;
            align-items: center;

            .menu {
                position: sticky;
                margin: 0;
                right: 0;
                top: 5px;
                width: 86px;
                height: 3rem;
                gap: 15px;
                background-color: white;
                border: 1px solid #DDDDDD;
                padding: 0.6rem 0.6rem 0.6rem 1rem;
                align-items: center;
                justify-content: space-between;

                border-radius: 2.9em;

                .avatar {
                    width: 1.5rem;
                }

                .burger {
                    width: 1rem;
                }

                .avatar {
                    width: 1.9rem;
                }

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.173) 0px 1.90695px 3.81391px 0px;
                }

            }


        }

        small-container {
            position: sticky;
            top: 20px;
        }

        .user-menu {
            position: fixed;
            top: 80px;
            right: 40px;
            background-color: white;
            border-radius: 20px;
            width: 240px;
            max-height: 428px;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 16px;

            .link {
                width: 100%;
                

                &:first-child {
                    border-bottom: 1px solid $gray3;
                    margin-top: 8px;
                }
                &:last-child{
                    margin-bottom: 8px;
                }

                a {
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    font-size: 0.8em;
                    color: $gray5 !important;
                }

                .login {
                    color: $gray4 !important;
                }

                padding: 14px 22px 10px !important;

                &:hover {
                    background-color: $gray3;
                }
            }
        }
    }

}