.date-picker-modal{
    .rdp-root {
        --rdp-accent-color: #222222;
        --rdp-accent-background-color:
        --rdp-disabled-opacity: 0.9;
        --rdp-outside-opacity: 0;

    background: rgb(255, 255, 255) !important;
    border-radius: 16px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px !important;
    display: inline-block !important;
    padding: 24px 32px 16px !important;
    position: absolute !important;
    top: 90px !important;
    right: -10px !important;
    width: 661px !important;
    z-index: 1 !important;
    min-height: 460px !important;
    }

}

