.date-picker-modal{
   
    .rdp-root {
        --rdp-accent-color: #222222; /* Change the accent color to indigo. */
        --rdp-accent-background-color: #ddd; /* Change the accent background color. */
        --rdp-disabled-opacity: 0.9;
        --rdp-outside-opacity: 0;
    }
}

