.search-bar-container {
   
    .search-bar {
       
        margin: auto;
        margin-top: 72px;
        max-height: rem(66px);
        width: rem(850px);
        margin-bottom: 8px;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 16px;

        margin-bottom: 18px;
        border: 1px solid $gray3;
        border-radius: 3rem;

        @include for-mobile-layout{
            position:fixed;
            top: 0;
            left: 0;
            margin-top: 70px;
            flex-direction: column;
            width:100%;
            min-height: 250px;
            background-color: $gray1;
            border-radius: 0px;
            border:none;
            box-shadow: none;
            
        }

        &.focused-search {
            background-color: $gray3;
        }



        .input-container {
            @include for-mobile-layout{
                width: 100%;
                margin: 0;
                justify-content: center;
                &::after{
                    display: none;
                }
                &:focus-within .input-container:not(:focus-within) {
                    background-color: white;
                }
              
            }
            display: flex;
            height: 66px;
            width: 140.5px;
            border-radius: 2rem;
            align-items: center;
           
            &.input-focused {
                background-color: $gray1;
                box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 16px;

                &::after {
                    display: none;
                }

                &:has(+:not(:focus-within))::after {
                    display: none;
                }

                &:hover {
                    background-color: $gray1;
                }
            }

            &:focus-within .input-container:not(:focus-within) {
                background-color: $gray1;
            }

            &:hover {

                background-color: $gray3;

                &::after {
                    display: none;
                }
            }

            button {

                @include for-mobile-layout{
                   position:fixed;
                   top:13px;
                   right: 10px;
                }
                width: 46px;
                height: 46px;
                border-radius: 50%;
                margin-left: 80px;
                font-size: 1rem;
                overflow: hidden;

                & span {
                    margin-left: 13px;
                }

                &:hover {
                    background-color: $clrd1;
                }

                .search-icon {
                    width: 1.2em;
                    margin-left: 3px;
                    // place-self: center;
                }
            }

            &:not(:last-child)::after {
                content: '';
                min-width: 1px;
                height: 2rem;
                background-color: $gray2;
            }

            &:has(+.input-container:hover)::after {
                display: none;
            }
        }

        .input-container:first-child {
            @include for-mobile-layout{
                width: 100%;
                margin: 0;
                justify-content: center;
                &::after{
                    display: none;
                }
                &:focus-within .input-container:not(:focus-within) {
                    background-color: $gray1;
                }
              
            }
            width: 284px;
            justify-content: space-between;

        }


        .input-container:last-child {
            @include for-mobile-layout{
                width: 100%;
                margin: 0;
                justify-content: center;
                &::after{
                    display: none;
                }
                &:focus-within .input-container:not(:focus-within) {
                    background-color: $gray1;
                }
              
            }
            width: 284px;
            padding-inline-end: 3px;
            justify-content: space-between;
        }


        label {
            display: flex;
            flex-direction: column;
            font-size: rem(12px);
            color: $gray4;
            padding-inline-start: 1.8rem;
            @include for-mobile-layout{
                width: 100%;
                margin: 0;
                padding: 0;
                align-items: center;
                gap:15px
            }

            div {
                padding-top: 10px;
            }

            &>* {
                line-height: 0;

            }
        }

        &>*:not(:first-child) input {
            max-width: rem(120px);

        }

        input {
            @include for-mobile-layout{
                width: 100%;
                margin: 0;
                padding: 0;
                text-align: center;
            }
            border-width: 0;
            margin-top: .8rem;
            background-color: rgba(0, 0, 0, 0);
            font-size: rem(14px);
            color: $clr2;

            .input-container input {
                max-width: rem(100px);


            }

            &:focus-visible {
                outline: none;
            }
        }

        &:focus-within {
            .input-container .btn-container button {
                width: 111.66px;
                margin-left: 0;
                border-radius: 40px;
            }

            .input-container>input:not(:focus-visible) .input-container {
                background-color: $gray3;
            }
        }

    }

    .date-modal {
        @include for-mobile-layout{
            width: 100%;
            margin: 0;
            justify-content: center;
  }
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px;
        display: inline-block;
        padding: 24px 32px 16px;
        position: fixed;
        top: 198px;
        margin-inline-start: 70px;
        z-index: 1;
        min-height: 440px;
        font-size: 14px;
        font-weight: bold;

        .rdp-root {
            --rdp-accent-color: $gray4;
            --rdp-accent-background-color: #f7f7f7;
            --rdp-disabled-opacity: 0.9;
            --rdp-outside-opacity: 0;
            background: transparent !important;
        }

        .rdp-day:hover:not(.rdp-day_disabled) {
            border-radius: 50% !important;
            outline: 2px solid black;
            cursor: pointer;
        }

        .my-selected-day {
            background-color: $gray4 !important;
            color: white !important;
            border-radius: 50% !important;
            font-weight: bold;
        }
       

        .check-in-day {
            background-color: $gray4 !important;
            color: white !important;
            border-radius: 50% !important;
            // font-weight: bold;
        }

        .check-out-day {
            background-color: $gray4 !important;
            color: white !important;
            border-radius: 50% !important;
            font-weight: bold;
        }
        .rdp-range_end{
            background: none;
        }
        .rdp-range_start{
            background: none;
        }
        .hovered-check-in {
            background-color: $gray4 !important;
            color: white !important;
            border-radius: 50% !important;
        }

        .rdp-day_disabled {
            color: #ccc !important;
            text-decoration: line-through !important;
            cursor: none !important;
            opacity: 0.6 !important;
        }


    }


    .where-modal {
        @include for-mobile-layout{
            width: 100%;
            margin: 0;
            top: 200px;
            left: 0;
            justify-content: center;
  }
        position: fixed;
        top: 198px;
        background-color: white;
        border-radius: 20px;
        width: 450px;
        max-height: 428px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 16px;

        article {
            padding: 14px 22px 10px !important;
            border-radius: 15px;
            margin: 8px;
            font-size: 1em;
            line-height: 20px;
            gap: 10px;
            align-items: center;

            img {
                width: 50px;
                aspect-ratio: 1/1;

                padding: 5px;
                border-radius: 7px;

            }


            span {
                color: $gray5;
                font-size: 0.8rem;
            }

            &:hover {
                background-color: $gray-3;
                cursor: pointer;
            }
        }
    }

    .guests-modal {
        @include for-mobile-layout{
            width: 100%;
            margin: 0;
            top: 300px;
            left: 0;
            justify-content: center;
  }
        position: fixed;
        top: 198px;
        background-color: white;
        margin-left: 420px;
        border-radius: 20px;
        width: 430px;
        max-height: 428px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 16px;

        article {
            justify-content: space-between;
            padding: 14px 22px 10px !important;
            border-radius: 15px;
            margin: 15px;
            font-size: 1em;

            &:hover {
                background-color: white;
            }

            div {
                font-size: 1rem;

                .sub-title {
                    font-size: 0.8rem;
                    color: $gray5;
                }
            }

            .counter-controls {
                display: flex;
                align-items: center;
                gap: 5px;

                button {
                    background-color: white;
                    border: 1px solid $gray2;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    color: $gray4;
                    font-size: 1rem;
                    text-align: center;

                    &.disabled {
                        color: $gray-3;
                        border-color: $gray-3;
                    }
                }
            }
        }
    }
}