.stay-filter {
    display: "flex";
    justify-content: "space-between";
    overflow-x: hidden;
    background-color: #fff;

    &.fixed {
        position: sticky;
        top: 80px;
        z-index: 100;
        // background-color: white;
        // /* Ensure it's visible */
    }

    /* Full-width shadow effect */
    &.fixed::before {
        content: "";
        position: fixed;
        /* Ensures full-width effect */
        top: 173.27px;
        /* Align with the sticky element */
        left: 0;
        width: 100vw;
        /* Extend across the entire viewport */
        height: 8px;
        /* Red shadow effect */
        box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 0px;
    }

    .icon-filter {
        grid-column: 2;
        display: flex;
        position: relative;
        width: 95%;
        background-color: white;
        transition: box-shadow 0.3s ease-in-out;

        /* Scrollable Filter Bar */
        .filter-bar {
            display: grid;
            grid-auto-flow: column;
            gap: 2.4rem;
            scroll-behavior: smooth;
            white-space: nowrap;
            width: fit-content;
            scrollbar-width: none;
            background-color: #fff;
            padding: 22px 0px;

            ::-webkit-scrollbar {
                display: none;
            }

            /* Filter Button */
            .filter-icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                margin: 0;
                gap: 10.5px;
                background: none;
                border: none;
                color: $gray5;
                font-size: 13.6px;
                cursor: pointer;
                transition: color 0.3s ease-in-out;
                width: fit-content;
                height: 100%;

                img {
                    width: 21.12px;
                    height: 21.12px;
                    filter: grayscale(100%);
                    transition: filter 0.3s ease-in-out;
                }

                .icon-name {
                    height: 25px;
                }

                &:hover,
                &.active {
                    border-bottom: 2px solid $gray3;
                    margin-bottom: -2px;
                    color: #222222;

                    img {
                        filter: grayscale(0%);
                    }
                }

                &.selected {
                    border-bottom: 2px solid black;
                }
            }
        }

        .stay-filter.scrolled {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        /* Left & Right Scroll Arrows */
        .btn {
            width: rem(32.4px);
            height: rem(32.4px);
            position: absolute;
            top: 39.6%;
            background-color: white;
            color: black;
            border: 1px solid $gray2;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0px 0px 12px 10px rgba(255, 255, 255, 0.9);
            transition: background-color 0.3s ease-in-out;
            transition: box-shadow 0.3s ease-in-out;

            &:hover {
                // background-color: #a20c0c;
                box-shadow: 0px 0px 12px 0px rgba(202, 201, 201, 0.9);
                width: rem(34px);
                height: rem(34px);
            }
        }

        /* Positioning Buttons Correctly */
        .left-arrow {
            left: 0;
            transform: translateY(-50%) translateX(10%);
            z-index: 1
        }

        .right-arrow {
            right: 20px;
            transform: translateY(-50%) translateX(-10%);
            z-index: 1;
        }



        /* Responsive Design */
        @media (max-width: 768px) {
            .filter-bar {
                gap: 15px;
                padding: 10px 30px;
            }

            .filter-icon {
                font-size: 10px;

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            .btn {
                padding: 8px;
                /* Smaller buttons on mobile */
            }

            .left-arrow {
                left: 5px;
                transform: translate(0, -50%);
            }

            .right-arrow {
                right: 5px;
                transform: translate(0, -50%);

                &:has(:checked) span {
                    background-color: $gray3;
                    color: $gray1;
                }
            }
        }
    }
}

.filter-btn {
    display: flex;
    align-items: center;
    width: 93px;
    gap: 9.5px;
    background-color: #fff;
    color: #222222;
    border: 1px solid $gray3;
    border-radius: 10px;
    padding: 15px;
    font-size: 12px;
    align-self: center;
    position: relative;
    top: -5%;
    right: 0.7%;


    img {
        width: 16px;
        height: 16px;
    }

    &:hover {
        border: 1px solid #222222;
        background-color: rgb(244, 244, 244);
    }
}