.stay-booking-modal {
    display: flex;
    flex-direction: column;
    width: 465.66px;
    justify-self: end;
    color: $clr2;
    position: sticky;
    top: 235px;

    margin: 0 0 88px;
    padding: 24px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    
    .stay-details-container{
        display: flex;
        padding-bottom: 18px;
        .stay-img{
            width: 31%;
            img{
                border-radius: 12px;
                width:80%;
                height: 10vh;
            }
        }

        
        .stay-details{
            position: relative;
            right: 24px;
            top:10px;
            margin-left: 20px;

            
            .stay-details-name{
                font-weight: 500;
                font-size: 16px;
            }

            .stay-details-header{
                margin-top: -3px;
            }  
        }


        .stay-details{
            align-items: center;
            margin-right: 0px;

            .stay-details-reviews{
                margin-top: -3px;
                margin-left: -4px;
                span img{
                    width: 12px;
                }

                span{
                    font-size: 14px;
                    padding: 2px;

                }
                .reviews-score{
                    font-weight: 500;

                }

          
            }
        }
    }


    .pricing-calculate {
        margin-top: -2px;
        font-size: 16px;

        div {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            
            .nightly-rate-calc {
                text-decoration: underline;

            }

            .nightly-service-fee {
                text-decoration: underline;
                margin-bottom: 10px;
            }
        }
        
        .total{
            margin-top: 14px;
            font-weight :500;
        }
    }
}