.stay-description{
    // padding: 32px 0px 48px;
    font-family: airbnb, sans-serif;

    
    .stay-description-title{
        padding: 20px 0px;
        h2 {
            font-size: rem(24px);
            margin-bottom: -4px;
        }
        p{
            font-size: rem(16px);
        }
    }
    
    .host-info {
        margin: 24px 0;
        .host-img{
            display: inline-block;
            img{
                
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;

                margin-right: 10px;
            }
            
        }
        
        .host-description{
            display: inline-block;
            // line-height: 1;
            margin-bottom: 10px;
            h3{
                font-size: rem(16px);
                padding: 0;
                margin: 0;
            }

            span{
                font-size: rem(14px);
            }

        }

        .host-subtitle{
            margin: 10px 0 14px;
            font-size: 15px;
        }
        /////////back to this
    }
    
    .text-description{
        padding: 32px 0px 48px;
    }
    
    .review-container{
        gap:24px;
        color: #222222;
        max-width: 653.33px;
        max-height: 89.2px;
        display: flex;
        align-items: center;
        // justify-content: space-evenly;
        // justify-content: space-around;
        border: 1px solid #ddd;
        margin-top: -9px;
        padding: 22px 26px;
        border-radius: 12px;

        
        .review-container-description{
            font-weight: 500;
            line-height: 1;
        }

        .divider {
            width: 1px;
            height: 32px;
            background-color: #DDDDDD;
        }

        .guest-favorite{
            display: flex;
            align-items: center;
            font-weight: bold;
            gap: 8px;
            margin-right: 60px;
            padding: 0 4px 4px;

            .guest-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: rem(16px);
                line-height: 1;
            }

            img{
                width: 20px;
            }
        }

        .rank-details{
            justify-items: center;
            line-height: 1;
            // padding: 0 10px 5px 5px;
            width: 120px;
            flex-wrap: nowrap;

            .review-score{
                font-size: rem(18px);
                font-weight: bold;

            }
            .review-stars{
                img{
                    width: 10px;
                    // gap:2px;
                    margin: 0 0 0px 2px;
                }
            }
        }

        .review-details{
            justify-items: center;
            // line-height: 1;

            .review-count{
                margin: 0 0 -5px;
                padding: 0 0 2px;
                font-size: 18px;
                font-weight: bold;
            }

            .review-text{
                font-size: 12px;
                text-decoration: underline;
            }
        }
    }

    .btn-description {
        display: flex;
        background: none;
        border: none;
        color: #222222;
        padding: 0;
        margin: 0;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        text-decoration: underline;
        font-weight:500;
        margin-bottom: 50px;
        img{
            width: 12px;
            margin-left: 4px;
        }
    }
    
    .btn-description:hover {
        color: black;
    }


}

