.stay-reviews{
    font-family: airbnb, sans-serif;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    .review-container{
        .review-user-details{
            display: flex;
            padding: 8px;
            // flex-direction: column;
    
            .review-user-img{
                img{
                    width: 60px;
                    height: 60px;
                }
            }
        }
    
        .review-info{
            .review-stars{
                img{
                    width: 9px;
                    // gap:2px;
                    margin: 0 0 0px 1px;
                }
            }
    
            .review-date{
                font-size: rem(14px);
                font-weight: 500;
                font-family: system-ui;
                
                
            }
        }
        
        .review-text{
            max-width: 450px;
            max-height: 70px;
        }
    
    }
}