.stay-reviews {
  font-family: airbnb, sans-serif;
  .stay-reviews-data {
    margin-top: 40px;
    margin-right: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .review-container {
      min-height: 265px;

      @include for-mobile-layout {
        min-height: 220px;
      }

      .review-user-details {
        display: flex;

        .review-user-img {
          margin-bottom: -5px;
          img {
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 14px;
          }
        }
        .review-user-fullname {
          font-size: rem(16px);
          font-weight: 500;
        }

        .review-user-seniority {
          margin-top: -2px;
          font-size: rem(14px);
        }
      }

      .review-info {
        .review-stars {
          img {
            width: 9px;
            margin: 0 0 0px 1px;
          }
        }

        .review-date {
          font-size: rem(14px);
          font-weight: 500;
          font-family: system-ui;
        }
      }
      .review-text {
        max-width: 450px;
        max-height: 70px;
      }
    }
    @include for-mobile-layout {
      grid-template-columns: repeat(1, 1fr);
      .review-container {
        margin-top: 31px;
        padding: 24px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        .review-text {
          height: fit-content;
          font-size: 14px;
          max-height: unset;
        }
      }
    }
  }

  .expand-review-btn {
    display: flex;
    position: relative;
    top: 10px;
    background: none;
    border: none;
    color: #222222;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;

    @include for-mobile-layout {
      padding-top: 10px;
      position: static;
    }
  }

  .expand-review-btn:hover {
    color: black;
  }

  .show-reviews-btn {
    display: flex;
    background-color: white;
    color: #222222;
    border: 1px solid #222222;
    border-radius: 8px;
    padding: 13px 16px;
    font-size: rem(16px);
    font-weight: bold;
    line-height: 20px;
    margin: 20px 0 50px 0;

    &:hover {
      background-color: #f7f7f7;
    }
  }
}
