.preview {
    display: grid;
    position: relative;

    grid-template-columns: 1fr 1fr;

    &:hover {
        .my-swiper .swiper-button-next {
            opacity: 90%;
        }

        .my-swiper .swiper-button-prev {
            opacity: 90%;
        }
    }
    
    .my-swiper {
        grid-column: 1 / -1;
        object-fit: cover;

        overflow: hidden;

        /* Hide navigation buttons when they are disabled */
        .swiper-button-disabled {
            opacity: 0 !important;
            pointer-events: none;
        }
        
        .swiper-pagination-bullet-active-custom {
            background-color: #ffffff;
            opacity: 100%;
        }

        .swiper-button-next,
        .swiper-button-prev {
            position: absolute;
            width: 28.3px;
            height: 28.3px;
            top: 53.2%;
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
            background-color: white;
            color: black;
            font-weight: 1000;
            border: 1px solid $gray2;
            border-radius: 50%;
            cursor: pointer;
            opacity: 0%;
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 100%;
            }
        }

        .swiper-button-next {
            right: rem(11.4px);
        }

        .swiper-button-prev {
            left: rem(11.4px);
        }

        // Customize arrow icons inside the buttons
        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: 8px;
        }
    }

    .swiper-slide {
        flex: 0 0 100%;
        width: 100% !important;
        max-width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
    }

    .swiper-slide img {
        border-radius: 15px; 
        display: block;
        aspect-ratio: 1/0.95;
        object-fit: cover;
    }

    p {
        margin: 0px;
        padding: 0px;
        font-size: 0.8vw;
        top: 75%;
        line-height: 1.41;
    }

    .preview-text-bold {
        font-weight: bold;
    }

    .preview-text-first {
        margin-top: rem(10px);
    }

    .preview-text-last {
        margin-top: rem(4px);
        line-height: 1.9;
    }

    .preview-date {
        line-height: 1.1;
    }

    .gray {
        color: $gray5;
    }

    .preview-text-par {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .heart-img {
        width: rem(21.3px);
        height: rem(21.3px);
        position: absolute;
        grid-column: 2; /* Ensure it is in the second column */
        justify-self: end; /* Aligns it to the left of the second column */
        align-self: start; /* Aligns it to the top */
        top: 5%;
        right: 12%;
        z-index: 1;
        filter: drop-shadow(-0.5px -0.5px 0 rgba(255, 255, 255, 0.7)) drop-shadow(1px -1px 0 rgba(255, 255, 255, 0.7)) drop-shadow(-1px 1px 0 rgba(255, 255, 255, 0.7)) drop-shadow(1px 1px 0 rgba(255, 255, 255, 0.7));
    }

    .rating {
        display: flex;
        align-items: center;
        justify-self: end; /* Aligns it to the left of the second column */
        align-self: start; /* Aligns it to the top */
        padding-top: rem(7.3px);
        padding-right: rem(3px);
        gap: rem(2px);


        // margin-top: ;

        .rating-text {
            padding-top: rem(2px);
            font-size: rem(15px);
        }

        img {
            width: rem(11.1px);
            height: rem(11.1px);
            margin-top: rem(4px);
        }
    }
}