.stay-list {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 24px;
    margin-top: 0px;
    
    li {
        display: grid;

        // aspect-ratio: 0.75/ 1 ;
        gap: 40px;

        cursor: pointer;

        .actions {
            justify-self: end;

            button {
                padding: .3em .5em;
            }
        }
    }


}



