// Colors
$clr1: #ff385c;
$clrd1:#f92e53;
$clr2: #222;


$gray1: #fff;
$gray2: #b0b0b0;
$gray3: #ddd;
$gray4: #000;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;