// Colors
$clr1: #ff385c;
$clrd1:#f92e53;
$clr2: #222222;


$gray1: #fff;
$gray2: #b0b0b0;
$gray-3: #f7f7f7;
$gray3: #ddd;
$gray4: #000;
$gray5: #6a6a6a;


$green1: #67c23a;
$green2: #b3e19d;
$green3: #67c23a;

$red1: #f56c6c;
$red2: #fab6b6;

// Breakpoints
$mobile-breakpoint: 743px;
$narrow-breakpoint: 740px;
$normal-breakpoint: 960px;
$wide-max-breakpoint: 1920px;